@model _4roomforum.DTOs.UserDTO
@{
    ViewData["Title"] = "thông tin cá nhân";
}

<h2>Profile</h2>

<form>
    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="JoinDate" class="control-label"></label>
        <input asp-for="JoinDate" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Status" class="control-label"></label>
        <input asp-for="Status" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label>Avatar</label><br />
        <img src="@Url.Content("~/img/" + Model.Avatar)" alt="Avatar" class="img-thumbnail" />
    </div>
</form>

<a class="btn btn-secondary" href="@Url.Action("Index", "Home")">Back to Home</a>
