@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Chuyên mục";
}

<div class="container mt-5">
    <div class="row">
        <!-- Hot Categories Sidebar -->
        <div class="col-md-3">
            <h2 class="text-center text-primary">Chuyên mục Hot</h2>
            <ul class="list-group">
                <li class="list-group-item list-group-item-action bg-light">Chuyên mục 1</li>
                <li class="list-group-item list-group-item-action bg-light">Chuyên mục 2</li>
                <li class="list-group-item list-group-item-action bg-light">Chuyên mục 3</li>
                <li class="list-group-item list-group-item-action bg-light">Chuyên mục 4</li>
            </ul>
        </div>

        <!-- Clickable Categories Main Content -->
        <div class="col-md-9">
            <h2 class="text-center text-success">Danh sách Chuyên mục</h2>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action bg-light">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Chuyên mục 1</h5>
                        <small>Ngày tạo: 01/01/2024</small>
                    </div>
                    <p class="mb-1">Mô tả của Chuyên mục 1</p>
                    <small>Được tạo bởi: User1</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action bg-light">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Chuyên mục 2</h5>
                        <small>Ngày tạo: 02/01/2024</small>
                    </div>
                    <p class="mb-1">Mô tả của Chuyên mục 2</p>
                    <small>Được tạo bởi: User2</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action bg-light">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Chuyên mục 3</h5>
                        <small>Ngày tạo: 03/01/2024</small>
                    </div>
                    <p class="mb-1">Mô tả của Chuyên mục 3</p>
                    <small>Được tạo bởi: User3</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action bg-light">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Chuyên mục 4</h5>
                        <small>Ngày tạo: 04/01/2024</small>
                    </div>
                    <p class="mb-1">Mô tả của Chuyên mục 4</p>
                    <small>Được tạo bởi: User4</small>
                </a>
            </div>
        </div>
    </div>
</div>
