@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Đăng nhập";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="card-title">Đăng nhập</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="/Account/Signin">
                        <div class="mb-3">
                            <label for="usernameEmail" class="form-label">Username hoặc Email</label>
                            <input type="text" class="form-control" id="usernameEmail" name="usernameEmail" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Đăng nhập</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <a href="/Account/Signup" class="text-primary">Chưa có tài khoản? Đăng kí ngay</a>
                </div>
            </div>
        </div>
    </div>
</div>
